/* App Styles*/

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Indie- Flower', cursive;
}



/* App Styles*/

/* ------------------------------------------------------------------------------- */

/* Navigation Styles*/


/* Navigation Styles*/

/* ------------------------------------------------------------------------------- */

/* Link Styles */






/* Link Styles */

/* ------------------------------------------------------------------------------- */

/* Aside Styles */



/* Aside Styles */

/* ------------------------------------------------------------------------------- */

/* Main Styles */





/* Main Styles */

/* ------------------------------------------------------------------------------- */

/* Posts Styles */



/* Posts Styles */

/* ------------------------------------------------------------------------------- */

/* Post Styles */





/* Post Styles */


/* Footer Styles */



/* Footer Styles */