.app {
    max-width: 100%;
    margin: 0 auto;
}


.container {
    margin-top: 8.5%;
    padding: 0.5%;
    /* border: 1px solid purple; */
    margin-bottom: 0.1%;
}


.posts {
    width: 100%;
    /* border:1px solid red; */
    height: 45vh;
}

.post {
    width: 100%;
    height: auto;
    border: 1px solid #234465;
    margin-bottom: 3%;
    border-radius: 4px;
}
h1 {
    text-align: center;
    color: #234465;
    text-decoration: underline;
    margin-bottom: 2%;
}